.add-offer {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.success-message {
    color: green;
    margin: 10px 0;
}




.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.image-preview {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.error-message {
    color: red;
    margin: 10px 0;
}
