.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f8f8;
  }
  
  .nav-logo {
    height: 40px; /* Adjust as needed */
  }
  
  .nav-profile {
    height: 40px; /* Adjust as needed */
  }
  
  .nav-welcome {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .nav-logout {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    font-weight: bold;
  }
  